body {
    background-image: url(../css/images/fisheyeunder.jpeg); back
    background-color: #5aa386; opacity: 0.3; 
    color:aliceblue; 
    font-family: system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin: auto; 
    width:100%;
    image-orientation: center;
}
header {
    background-color: aquamarine; 
    color: #1a211e; 
    padding: 10px 0;
    margin: 0 auto; 
    width: 100%
}
/* Added background color to header section */
#theme {
    text-align: center; 
    font-weight: bolder; 
    font-family: papyrus
}
/* added pupyrus style font to the theme */
.largefont {
    text-align: center
}
.media { 
    width: 100% ;
    box-shadow: 15px 15px 15px #1a211e
} 
/*box-shadow is giving the sizing info and color for the shadowing effect you see bellow the video and images. */
footer { 
    background-color: aquamarine; 
    color: #1a211e; 
    padding: 10px 0; 
    text-align: center;
 }
/* Styling for the footer section */ 
section {
    font-family:"Shadows Into Light", cursive; 
    font-weight: 400; 
    font-style: normal
}
/* Applied Google Font "Shadows into light" for Bonus Points */
.tabs {
    margin: 50px
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}
.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
}
.tabs__radio {
    display: none;
}
.tabs__content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid #dddddd;
    line-height: 1.5;
    font-size: 0.9cm
    display: none;
}
.tabs__radio:checked+.tabs__label {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
}
.tabs__radio:checked+.tabs__label+.tabs__content {
    display: intitial;
}


